@import url('https://fonts.googleapis.com/css?family=Lato:400,300,700,900');
 html,body { height: 100%; margin: 0px; padding: 0px; }
body {
	background: #394864;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #444;
}

h1 {
	font-size: 40px;
}

a {
    color: #ACBAC1;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #4F92AF;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
/* wrapper */

#wrapper {
	text-align: center;
	padding: 5% 0 0 0;
	background: url(../img/pack.gif);
	width: 100%;	
    height: 100%;
    background-size: cover;
}



#wrapper h1 {
	margin-top: 60px;
	margin-bottom: 40px;
	color: #fff;
	font-size: 45px;
	font-weight: 900;
	letter-spacing: -1px;
}
.logo{
    background: url(../img/logo.png);
    width: 150px;
    height: 210px;
    background-size: cover;
    margin: 0px 0 0 20%;
}
.title{
    background: url(../img/title.png);
    width: 50%;
    height: 200px;
    background-size: cover;
    margin: 21px 0 0 35px;
}
.hamppy{
    font-size: 65px;
    font-family: 'Spirax', cursive;
    margin: 95px 0 0 -100px !important;
}
h2.subtitle {
	color: #fff;
	font-size: 24px;
    margin-top: 45px;
}

/* social */

.social a {
    font-size: 24px;
    color: #fff;
    padding: 0 5px;
    transition: all 0.3s;
}

.social a:hover {
    color: #5cacce;
}

/* countdown */
#countdown {
	font-size: 48px;
	color: #fff;
	line-height: 1.1em;
	margin: 20px 0 60px;
}


/* footer */
p.copyright {
	margin-top: 30px;
	color: #fff;
	text-align: center;
    padding: 0;
    margin-bottom: 5px;
}	

.credits, .credits a {
    color: #fff;
}
@media only screen and (max-width: 500px) {
    #wrapper h1 {
        padding: 0 0 0 120px;
    }
    .logo{
    height: 210px;
    }
    .hamppy{
        font-size: 45px;
        font-family: 'Spirax', cursive;
        margin: 95px 0 0 -100px !important;
    }
    #wrapper{
        height: 135%;
    }
    .title{
        display: none;
    }
}